{% extends 'base.html.twig' %}

{% block content %}
	<div class="bg-red-600 p-4 min-h-screen">
		<div
			class="mx-auto">

			{#info nombre de pokemons #}
			{% include 'shared/_poke_number_html.twig' with { 'type': type, 'numberOfPokemons': pokemons|length } %}

			<form data-controller="autosubmit" method="GET" action="{{ path('app_pokemon_type', {'type': type}) }}" class="my-3 flex justify-between" data-turbo-frame="pokemon-list">
				<input type="search" name="query" value="{{ app.request.query.get('query') }}" aria-label="Search pokemons" placeholder="Rechercher un Pokémon..." class="rounded-lg border border-gray-300 w-full p-2 my-4" data-action="autosubmit#debouncedSubmit">
			</form>

			<turbo-frame id="pokemon-list" target="_top" data-turbo-action="advance" class="aria-busy:opacity-50 aria-busy:blur-sm transition-all">

				<div id="pokemon-list" class="grid gap-6 mt-5 grid-cols-1 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 2xl:grid-cols-6">
					{% for pokemon in pokemons %}
						{% include 'shared/_card.html.twig' %}
					{% endfor %}
				</div>

				{% include 'shared/_pagination.html.twig' %}

			</turbo-frame>
		</div>
	</div>
{% endblock %}
