<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}PixelDatas
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/favicon.png') }}">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="min-h-screen flex flex-col">
		{% block body %}
			{% include "shared/_navbar.html.twig" %}
			<main class="flex-grow">
				{% block content %}{% endblock %}
			</main>
			{% include "shared/_footer.html.twig" %}
			{% include "shared/_backToTop.html.twig" %}
		{% endblock %}
	</body>
</html>
