{% for label, messages in app.flashes %}
	<div class="alert alert-{{ label }}">
		{% for message in messages %}
			<div class=" bg-white text-gray-700 p-4 rounded mb-4 shadow-lg text-center">
				{{ message }}
			</div>
		{% endfor %}
	</div>
{% endfor %}
