<footer class="bg-gray-900 text-amber-400 p-6 mt-auto">
	<div class="max-w-2xl px-4 mx-auto lg:max-w-screen-xl sm:px-6 lg:px-8">
		<p class="flex items-center justify-center mt-8 ml-0 md:ml-6 shrink-0 md:mt-0">
			Copyright
			{{ "now"|date("Y") }}
			- BBA Company 😎
		</p>
	</div>
</footer>
