<style>
	.poke-card {
		width: 100%;
		gap: 0.5rem;
		padding: 0.5rem;
	}
	.poke-img {
		width: 3rem;
	}
	.poke-text {
		font-size: 1rem;
		white-space: nowrap;
	}

	@media(min-width: 640px) {
		.poke-text {
			font-size: 1.2rem;
		}
	}

	@media(min-width: 768px) {
		.poke-card {
			width: 60%;
			gap: 1.5rem;
			padding: 1rem;
		}
		.poke-img {
			width: 4.5rem;
		}
		.poke-text {
			font-size: 1.25rem;
			line-height: 1.75rem;
		}
	}

	@media(min-width: 1024px) {
		.poke-card {
			width: 66.66%;
		}
	}
</style>

<div class="container mx-auto px-2">
	<div class="poke-card bg-white shadow-lg my-4 rounded-lg mx-auto flex flex-row items-center justify-center">
		<div class="flex-shrink-0">
			<img class="poke-img h-auto object-contain" src="{{ asset('/img/pokeFact.png') }}" fetchpriority="high" alt="Icône PokéFact">
		</div>
		<div class="text-left">
			<p class="poke-text font-bold italic text-gray-700 leading-none">
				{% if generation is defined and generation is not null %}
					La génération
					<span class="text-red-500">{{ generation }}</span>
					contient
				{% elseif type is defined and type is not null %}
					Le type
					<span class="text-red-500">{{ type }}</span>
					contient
				{% else %}
					Le Pokédex comporte
				{% endif %}
				<span class="text-red-500">{{ numberOfPokemons }}</span>
				Pokémons !
			</p>
		</div>
	</div>
</div>
